// Colors

//*bg-colors
$bg-white: #FFFFFF; //white
$bg-grey: #F4F4F4; //grey

//*title-colors
$title-white: #FFFFFF; //white
$secondary-purple: #8D81AC; // purple

//*sub-title-colors
$sub-title: #323232;
$sub-text: #848E97;

// Fonts
$main-font: 'Montserrat',
sans-serif; //montserrat
$secondary-font: 'Lato',
sans-serif; //lato 